* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {

}

/* Navbar section*/

.nav-container {
}

.logga {
}

.navbar-links ul {
}

.navbar-links li {
}

.navbar-links li a {
}

.navbar-links li:hover {
}

/*burger*/

.menu-btn {
  top: 0;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn_burger {
  display: none;
}

/*content*/
.main-container {
}

.content {
}

.content a {
}
.link {
}

.bilder {
}

.image_off,
#home:hover .image_on {
}

.image_on,
#home:hover .image_off {
}

.right-side {
}

.right-side h2,
h3 {
}

.right-side img {
}

.footer {
}

@media (max-width: 687px) {
  .logga {
  }

  .menu-btn {
    height: 25px;
    top: 10px;
    right: 10px;
    position: absolute;
    display: flex;
  }

  .menu-btn_burger {
    display: flex;
    cursor: pointer;
  }

  .navbar-links {
  }

  .nav-container {
  }

  .navbar-links ul {
  }

  .navbar-links li {
  }

  .navbar-links li a {
  }

  .navbar-links li:hover {
  }

  .navbar-links.active {
  }

  .main-container {
  }
}
