
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.contact-form {
  margin: 0px auto;
  width: 65%;
  padding: 2em;
  text-align: center;
  border: solid 3px #09f0e89b;
  border-radius: 20px;
  background-color: transparent;
}

.contact-form h2 {
  margin-top: 0;
  padding: 10px;
}

.contact-form input {
  background: transparent;
  color: whitesmoke;
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.contact-form textarea {
  background: transparent;
  color: whitesmoke;
  width: 90%;
  margin: 5px auto;
  padding: 10px;
  height: 80px;
}

.contact-form submit-btn {
  background: whitesmoke;
  cursor: pointer;
  width: 150px !important;
  margin-left: 18px !important;
}

.g-recaptcha {
  width: 80%;
  margin: 10px auto;
}

.status {
  font-size: 15px;
  color: darkgreen;
  padding: 15px;
}

.status span {
  color: darkred;
}
