.gallery-wrap {
    background-color: white;
    margin: 6rem auto;
    position: relative;
    height: 100%;
    width: 80%;
}

.gallery-wrap h1 {
    position: relative;
    height: auto;
    width: 100%;
    margin: 5% 0 2% 0;
    background: linear-gradient(to left, rgb(19, 241, 11), rgb(224, 23, 16));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.gallery-text {
    display: flex;
    width: 60%;
    margin: 0 auto;
    color: #555;
}

.gallery-text a {
    text-decoration: none;
}

.gallery-text .link {
    color: #555;
}

.img-area { 
    position: relative; 
    height: auto;
    width: 80%;
    margin: auto;
    padding: 2em 0;  
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2vh;
    grid-auto-flow: dense; 
}

.single-img {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0 , 0, 0.9 );
    border-radius: 10px;
}

.single-img:first-child {
    grid-column-start: span 2;
    grid-row-start: span 1;
}


.single-img:nth-child(2n-3){
    grid-row-start: span 2;   
}

.single-img:nth-child(4n+5){
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.single-img:nth-child(6n+7){
    grid-row-start: span 1;
}

.single-img:nth-child(8n+1){
    grid-column-start: span 3;
    grid-row-start: span 3;
}

.single-img img, 
.single-img1 img, 
.single-img2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5) grayscale(80);
    transition: 0.3s ease-in-out;
}

.single-img:hover img,
.single-img1:hover img,
.single-img2:hover img {
    filter: brightness(1) grayscale(0);
}
