h1 {
    background-color: aliceblue ;
    color: rgba(255, 187, 0, 0.877);
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    color: blanchedalmond;
    text-decoration-style: dotted;

}

#main {
    width: 60% ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;



}