* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2%;
}

h1, h2, h3 {
    padding: 15px;
    text-align: center;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
   
}


.logga {
display: flex;
justify-content: left;
text-align: center;
margin-left: 3%;
width: 20%;

}

.social-pictures {
    display: flex;
    justify-content: center;
}

.social-media {
    display: flex;
    justify-content: center;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    color: antiquewhite
    ;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;   
    text-transform: uppercase; 
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: antiquewhite;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: rgba(233, 159, 61, 0.76);
}

.menu-btn {
top: 0;
right: 1rem;
flex-direction: column;
justify-content: space-between;
}

.menu-btn_burger {
display: none;
}

.main img {
    border: 5px solid sandybrown;
}

.content {
    display: flex;
}

.main {
padding: 2%;
width: 80%;
}

.bilder {
    display: flex;
    justify-content: space-evenly;
}

.right-side {
    flex-grow: 2;
    width: 20%;
    padding: 2%;
}

.image_off,
#home:hover .image_on {
  display: none;
}

.image_on,
#home:hover .image_off {
  display: flex;
}

@media (max-width: 687px) {
    .menu-btn {
        height: 30px;
        top: 10px;
        right: 25px;
        position: absolute;
        display: flex;
    }

    .menu-btn_burger{
        display: flex;
        cursor: pointer;
    }

    .navbar-links {
       display: none;
       width: 100%;
    }

    .navbar {
        background-color: burlywood;
        color: antiquewhite;        
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;       
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;        
    }
    
    .navbar-links li:hover {
        background-color: rgba(233, 159, 61, 0.76);
    }

    .navbar-links.active {
        display: flex;
    }
}