* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    color: whitesmoke;
    text-align: center;
}


/* Navbar section*/

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background-color: #333;
}

.logga {
    font-family: 'Berkshire Swash', cursive;
   font-size: 1.5rem;
   margin: .5rem;
   text-transform: uppercase;
}

.navbar-links ul {
margin: 0;
padding: 0;
display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
background-color: #555;
}

/*burger*/

.menu-btn {
    top: 0;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    }
    
    .menu-btn_burger {
    display: none;
    }


/*content*/
.main-container {
    display: flex;   
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10%;
    background-color: #555;
    color: whitesmoke;
    border-radius: 30px;
}

.content a {
    text-decoration: none;
}
.link {
    text-decoration: none;
    color:whitesmoke;
}

.bilder {
    display: flex;
    justify-content: space-evenly;
}

.image_off,
#home:hover .image_on {
  display: none;
}

.image_on,
#home:hover .image_off {
  display: flex;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 20%;
    padding: 1%;    
}

.right-side h2, h3 {
    color: #555;
}

.right-side img {
    border-radius: 100%;
}
/* Gallery */

gallery-wrap {
    position: relative;
    height: 100%;
    width: 100%;
}

gallery-wrap h1 {
    position: relative;
    height: auto;
    width: 100%;
    margin: 5% 0 2% 0;
    color: #555;
    text-align: center;  
}

gallery-text {
    display: flex;
    width: 60%;
    margin: 0 auto;
    color: #555;
}

gallery-text a {
    text-decoration: none;
}

gallery-text .link {
    color: #555;
}

img-area { 
    position: relative; 
    height: auto;
    width: 80%;
    margin: auto;
    padding: 45px 0;  
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vh;
    grid-auto-flow: dense; 
}

}
single-img {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0 , 0, 0.9 );
    border-radius: 10px;
}

single-img:first-child {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

single-img:nth-child:(2n+3){
    grid-row-start: span 3;
}

single-img:nth-child:(4n+5){
    grid-column-start: span 2;
    grid-row-start: span 2;
}

single-img:nth-child:(6n+7){
    grid-row-start: span 1;
}

single-img:nth-child:(8n+9){
    grid-column-start: span ;
    grid-row-start: span 1;
}

single-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5) grayscale(80);
    transition: 0.3s ease-in-out;
}

single-img:hover img {
    filter: brightness(1) grayscale(0);
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: #555;
}
/* media device ipad and smartphone*/

@media (max-width: 1024px) {

    .logga {
        font-size: 1.4rem;
    }

    .menu-btn {
        height: 25px;
        top: 10px;
        right: 10px;
        position: absolute;
        display: flex;
    }

    .menu-btn_burger{
        display: flex;
        cursor: pointer;
    }

    .navbar-links {
       display: none;
       width: 100%;
    }

    .nav-container {       
        color: whitesmoke;
        background-color: #333;       
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;       
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;        
    }
    
    .navbar-links li:hover {
        background-color: #555;
    }

    .navbar-links.active {
        display: flex;
    }

   .main-container {
        display: block;
        width: 100%;
   }

   .content {
       width: fit-content;
       margin: 2%;
       padding: 5%;
   }
   .right-side {
       display: flex;
       flex-direction: column;
       margin: 2% auto;
       width: 50%;
    }
   
    .img-area {
        display: grid ;
        grid-template-columns: auto auto auto;
    }
}

/*Media for old devices and smartphones*/

@media (max-width: 867px) {
    .img-area {
        display: grid ;
        grid-template-columns: auto auto;
    }

} 


